.button-up {
  animation: floatAnimation 3s ease-in-out infinite;
  position: absolute;
  top: 15px;
  right: 5px;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
